<div class="auth-wrapper" align="center">
    <div class="auth-content" align="center">
      <div class="card ">
        <div class="logo_container" align="center">
            <img src="http://www.tp-italia.com/rc_images/custom.ico"/>
        </div>
        <span  class="col-md-12" [ngStyle]="{'font-size':'20px'}">TP Provisioning</span><br><br>
            <form name="form"   #emailForm="ngForm" (ngSubmit)="onResetPassword(emailForm)">
              <div class="form-group">
                <input type="email" class="form-control" name="reset-password-email" id="reset-password-email" ngModel required  placeholder="Enter your email address"/>
              <mat-error *ngIf ="emailForm.touched">
                Enter your Email !
              </mat-error>
              </div>
              <div class="form-group" >
                <button class="btn btn-primary btn-block" [disabled]="emailForm.invalid" type="submit">
                  <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                  <span *ngIf="refreshing">Loading...</span>
                  <span *ngIf="!refreshing">Reset</span>
                </button>
              </div>
              <div class="flexbox">
                <div></div><a style="text-decoration:none;" routerLink="/auth"> Back to Signin </a>
              </div>
            </form>
          </div>
        </div>
  