
<!-- START NAVBAR-->
<app-navbar class="header" ></app-navbar>
<!-- END NAVBAR--->

<!-- START SIDEBAR-->
<app-sidebar class="page-sidebar" id="sidebar" ></app-sidebar>
<!-- END SIDEBAR-->

<!-- START PAGE CONTENT-->
<div class="content-wrapper">
    <!--<div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title"> Content </h2>
                <p class="pageheader-text"></p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Admin Layout</a></li>
                            <li class="breadcrumb-item active primary" aria-current="page"><b>Content</b></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>-->
<router-outlet></router-outlet>
<app-footer class="page-footer" ></app-footer>
</div>
<!-- END PAGE CONTENT-->

