<br><br><br>
<div class="table-responsive">
  <table class="table align-middle table-bordered">
    <thead>
       
        <tr class="gray-row">
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">User</th>
            <th style="text-align: center;">Date</th>
            <th style="text-align: center;">Action(s)</th>
          </tr>
      
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{ log.id }}</td>
        <td>{{ currentuser }}</td>
        <td>{{ log.date}}</td>
        <td>{{ log.message }}</td>
      </tr>
    </tbody>
  </table>
  </div>
  