<br><br>
<div class="search-div">
    <button class="float-right" mat-fab color="primary" (click)="onCreate()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<br><br>
<div class="card" style="width:100%;"><br>
    <div class="container">
        <div class="search-div">
            <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
                    (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="table-responsive">
            <table mat-table #table [dataSource]="datasource" matSort>
                <ng-container matColumnDef="accessName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Package </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.accessName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastModificatedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified At</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.lastModificatedDate | date:'dd/MM/yyyy HH:mm:ss'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="moduleName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Modules</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.moduleName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="productName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Product</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.productName}}</mat-cell>
                </ng-container>
                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="onEdit(row)">
                            <mat-icon>update</mat-icon>
                        </button>&nbsp;&nbsp;
                        <button mat-icon-button (click)="onDeleteAccess(row.accessId)">
                            <mat-icon color="warn">delete_outline</mat-icon>
                        </button> 
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        Loading data....
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="nodata">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        NO data....
                    </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['nodata']"
                    [ngClass]="{'hide': !(datasource!=null && datasource.data.length==0)}"></mat-footer-row>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<br>