<div id="sidebar-collapse">
    <div class="admin-block d-flex">
    </div>
    <ul class="side-menu">
        <li>
            <a routerLinkActive="active" routerLink="/admin/stat"><mat-icon
                    class="sidebar-item-icon">dashboard</mat-icon>
                <span class="nav-label">Dashboard</span>
            </a>
        </li>
        <li class="heading">MANAGMENT</li>
        <li routerLinkActive="active" class="nav-item">
            <a href="javascript:;" routerLink="/admin/users"><mat-icon
                    class="sidebar-item-icon">supervisor_account</mat-icon>
                <span class="nav-label">Users</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/products"> <mat-icon class="sidebar-item-icon">
                    local_grocery_store</mat-icon>
                <span class="nav-label">Products</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/modules"><mat-icon
                    class="sidebar-item-icon ">view_module</mat-icon>
                <span class="nav-label">Modules</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:void;" routerLink="/admin/role"> <mat-icon
                    class="sidebar-item-icon">perm_identity</mat-icon>
                <span class="nav-label">Packages</span></a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/ui/icons" routerLink="/admin/licenses"><mat-icon class="sidebar-item-icon">
                    vpn_key</mat-icon>
                <span class="nav-label">Licenses</span>
            </a>
        </li>
        
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/history"><mat-icon class="sidebar-item-icon ">unarchive</mat-icon>
                <span class="nav-label">Licenses History</span></a>
        </li>

        <li routerLinkActive="active">
            <a routerLink="/ui/icons" routerLink="/admin/log"><mat-icon class="sidebar-item-icon">
                assignment</mat-icon>
                <span class="nav-label">Logs</span>
            </a>
        </li>
    </ul>
</div>