<div id="sidebar-collapse">
    <div class="admin-block d-flex">
    </div>
    <ul class="side-menu">
        <li routerLinkActive="active" class="nav-item">
            <a href="javascript:;" routerLink="/user/products">
                <mat-icon class="sidebar-item-icon">home</mat-icon> 
                <span class="nav-label">Home</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" > <mat-icon class="sidebar-item-icon">
                    local_grocery_store</mat-icon>
                <span class="nav-label" > My Products</span></a></li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/user/contact-Us" ><mat-icon class="sidebar-item-icon">contact_support</mat-icon>
            <span class="nav-label">Contact Us</span></a>
        </li>
    </ul>
</div>